*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Inter;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;

}
.card{
    max-width: 250px;
    position: relative;
    border: none;
}
.show-date{
    position: absolute;
    background-color: #13C296;
    color: white;
    right: 10px;
    top: 10px;
    padding: 6px 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 7px;
}
.card .img-fluid{
    max-height: 200px;
}
.form-control:focus,.form-select:focus{
    box-shadow: none;
    outline: none;
}
.content-version{
    font-size: 14px;
    font-weight: 600;
    color: #7E7E7E;
}
.title{
    font-size: 18px;
    color: #7E7E7E;
    font-weight: 600;
}
.publisher{
    font-size: 16px;
    font-weight: 600;
    color: #212B36;
}

.select2-container--default .select2-selection--single{
    padding: 4px 0;
    height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    right: 1px;
    width: 20px;
    transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__clear{
    right: 10px;
}