*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;

}
.card{
    min-width: 200px;
}
.card .card-img-top{
    max-height: 150px;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}