*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Inter;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;

}
.card{
    min-width: 200px;
    position: relative;
    border: none;
}
.show-date{
    position: absolute;
    background-color: #13C296;
    color: white;
    right: 10px;
    top: 10px;
    padding: 6px 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 7px;
}
.card .img-fluid{
    max-height: 150px;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.content-version{
    font-size: 14px;
    font-weight: 600;
    color: #7E7E7E;
}
.title{
    font-size: 18px;
    color: #7E7E7E;
    font-weight: 600;
}
.publisher{
    font-size: 16px;
    font-weight: 600;
    color: #212B36;
}